# compiled output
/dist/
/tmp/

# misc
/.docfy-config.js
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.prettierignore
/.stylelintignore
/.stylelintrc.js
/.template-lintrc.js
/.watchmanconfig
/CONTRIBUTING.md
/docs-styles/
/ember-cli-build.js
/netlify.toml
/pnpm-debug.log
/pnpm-lock.yaml
/RELEASE.md
/tailwind.config.js
/testem.js
/tsconfig.json
/rehype-plugins/
/tests/
/types/
.gitkeep

# ember-try
/.node_modules.ember-try/
/package.json.ember-try
/pnpm-lock.ember-try.yaml
