# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/tests/dummy/public/assets/*.css
/tmp/

# dependencies
/node_modules/

# misc
/coverage/
!.*
.eslintcache
.lint-todo/

# ember-try
/.node_modules.ember-try/
/package.json.ember-try
/pnpm-lock.ember-try.yaml
