@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("code-blocks");
@import url("docfy");
@import url("highlight-js");
@import url("prose");
@import url("components/avatar");
@import url("components/button-and-icon-button");
@import url("components/checkbox-and-radio");
@import url("components/dropdown");
@import url("components/input-and-textarea");
@import url("components/link-and-icon-link");
@import url("components/progress");
@import url("components/select");
@import url("components/switch");
@import url("components/tag");
@import url("components/tooltip");
