.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply bg-slate-100 px-1 py-0.5 rounded;
  @apply dark:bg-slate-800/40;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after,
.prose :where(code):not(:where([class~="not-prose"] *))::before {
  @apply content-none;
}

.prose :where(thead):not(:where([class~="not-prose"] *)),
.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  @apply border-slate-100;
  @apply dark:border-slate-800;
}

.prose h1[id]::before,
.prose h2[id]::before,
.prose h3[id]::before {
  @apply block h-24 invisible -mt-24 pointer-events-none;

  content: "";
}

.col-name {
  @apply whitespace-nowrap;
}
