<div
  class={{-velvet/class-list
    "velvet-tag"
    (concat "velvet-tag-" (-velvet/arg @size "md"))
    (concat "velvet-tag-" (-velvet/arg @variant "primary"))
    (if @isPill "velvet-tag-pill")
  }}
  ...attributes
>
  {{yield}}
</div>