<a
  class={{-velvet/class-list
    "velvet-icon-link"
    (concat "velvet-icon-link-" (-velvet/arg @size "md"))
    (concat "velvet-icon-link-" (-velvet/arg @variant "primary"))
    (if @isRound "velvet-icon-link-round")
  }}
  href={{this.link.url}}
  {{on "click" this.link.transitionTo}}
  ...attributes
>
  {{yield}}
</a>