{{! @glint-nocheck }}
{{! Needs https://github.com/embroider-build/embroider/pull/1367 to remove `@glint-nocheck`. }}

<div class="velvet-dropdown" ...attributes>
  {{yield
    (hash
      Button=(component
        (ensure-safe-component this.VelvetButton)
        isDisclosure=true
        isExpanded=this.isShown
        privateDropdownTrigger=this.trigger
      )
      Content=(component
        (ensure-safe-component this.VelvetDropdownContent)
        isShown=this.isShown
        modifier=this.content
      )
      IconButton=(component
        (ensure-safe-component this.VelvetIconButton)
        privateDropdownTrigger=this.trigger
      )
      isShown=this.isShown
      hide=this.hide
      show=this.show
      toggle=this.toggle
      content=this.content
      trigger=this.trigger
    )
  }}
</div>