<a
  class={{-velvet/class-list
    "velvet-link"
    (concat "velvet-link-" (-velvet/arg @size "md"))
    (concat "velvet-link-" (-velvet/arg @variant "primary"))
    (if @isPill "velvet-link-pill")
  }}
  href={{this.link.url}}
  {{on "click" this.link.transitionTo}}
  ...attributes
>
  {{yield}}
</a>