<div
  class={{-velvet/class-list
    "velvet-radio-group"
    (concat "velvet-radio-group-" (-velvet/arg @size "md"))
    (if @isDisabled "velvet-radio-group-disabled")
  }}
  role="group"
  ...attributes
>
  {{yield
    (hash
      Radio=(component
        (ensure-safe-component this.VelvetRadio)
        isDisabled=@isDisabled
        name=(-velvet/arg @name this.uniqueName)
        size=@size
        privateGroupValue=@value
        privateInGroup=true
        privateOnChangeGroup=@onChange
      )
    )
  }}
</div>