{{! @glint-nocheck }}
{{! Needs https://github.com/embroider-build/embroider/pull/1367 to remove `@glint-nocheck`. }}

<div class="velvet-tooltip" ...attributes>
  {{yield
    (hash
      Content=(component
        (ensure-safe-component this.VelvetTooltipContent)
        isShown=this.isShown
        modifier=this.content
      )
      isShown=this.isShown
      hide=this.hide
      show=this.show
      toggle=this.toggle
      content=this.content
      trigger=this.trigger
    )
  }}
</div>