<div
  class={{-velvet/class-list
    "bottom-0 fixed overflow-auto p-8 top-16 w-64"
    "border-slate-100 dark:border-slate-800"
  }}
  ...attributes
>
  {{yield
    (hash
      Heading=(component "docs-sidebar/heading")
      Link=(component "docs-sidebar/link")
    )
  }}
</div>